<div class="cards-list">

    <div class="card 1">
        <div class="card_image">  </div>
        <div class="card_title title-white">

            <p>Auswertung der Mitarbeiterbefragung online  für Firma {{companyname.name}}</p>

        </div> <br><br>
        <div class="card_text">
            <h4 style="color: white">
                Ergebnisse vom  {{date}}

                <br> Teilnehmerzahl Betrieb:

                {%for idSubscribe in numberOfParticipants %}

                {{idSubscribe.savecount}}

                <br> Teilnehmerzahl Vergleichsgruppe:

                {% for all in allNumberOfParticipants%}
                {{all.savecount - idSubscribe.savecount}} <br>


                {%endfor%}
                {%endfor%}
            </h4>
        </div>
    </div>
</div>


<style>

    .cards-list {
        z-index: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .card {
        margin: 30px auto;
        width: 800px;
        height: 300px;
        border-radius: 40px;
        box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
        transition: 0.4s;
    }

    .card .card_image {
        width: inherit;
        height: inherit;
        border-radius: 40px;
        background-color: deepskyblue;
    }



    .card .card_title {
        text-align: center;
        border-radius: 0px 0px 40px 40px;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 30px;
        margin-top: -280px;
        height: 40px;
    }



    .title-white {
        color: white;
    }

    .title-black {
        color: black;
    }

    div.card_text {
        text-align: justify; /* For Edge */
        -moz-text-align-last: left; /* For Firefox prior 58.0 */
        text-align-last: left;
        padding: 10px;
        padding-top: 70px;
        color: white;
    }



    @media all and (max-width: 500px) {
        .card-list {
            /* On small screens, we are no longer using row direction but column */
            flex-direction: column;
        }
    }


</style>