

          <tr>
            <td>
              <form method="post">
                <input id="dachboardstatus" type="hidden" name="dachboardstatus" value="2">
                <input id="companyid" type="hidden" name="companyid" value="{{comp.id}}">
                <input id="companytocken" type="hidden" name="companytocken" value="{{comp.tocken}}">
                <button class="btn-flat tooltipped" type="submit" name="action" data-position="top" data-tooltip="Linkübersicht">
                  {{comp.name}}
                </button>
                {{submitnoncestatus | raw}}
              </form>

            </td>
            <td>
              <i class="small fas fa-copy tooltipped linkcopyicon" data-position="top" data-tooltip="Link kopieren" onclick=""></i>
              <span class="hide">{{comp.url}}</span>
            </td>
            <td>
              <i class="small fas fa-qrcode tooltipped qrcodeicon" data-position="top" data-tooltip="QR anzeigen" onclick=""></i>
              <span class="hide">{{comp.url}}</span>
            </td>
            <td><a href="mailto:?subject=Link zur Umfrage&body={{mailtext}}  %0D%0A %0D%0A %0D%0A %0D%0A {{comp.url}}"><i class="small fas fa-envelope tooltipped" data-position="top" data-tooltip="Mail versenden"></i></a></td>
            <td>
              <form method="post">
                <input id="dachboardstatus" type="hidden" name="dachboardstatus" value="1">
                <input id="companyid" type="hidden" name="companyid" value="{{comp.id}}">
                <button class="btn-flat" type="submit" name="action">
                  <i class="small fas fa-users tooltipped" data-position="top" data-tooltip="Teams"></i>
                </button>
                {{submitnoncestatus | raw}}
              </form>
            </td>
            <td>
              <!-- <a href="#!" class="black-text btn-flat">
                <i class="small fas fa-chart-line tooltipped" data-position="top" data-tooltip="Auswertung"></i>
              </a> -->
              <!-- <form method="post" action="{{evaluationurl}}">
                <input type="hidden" value="{{comp.id}}" name="selectcompanyid">
                <button class="btn-flat" type="submit" name="action">
                  <i class="small fas fa-chart-line tooltipped" data-position="top" data-tooltip="Auswertung"></i>
                </button>
              </form> -->
              {% if comp.showdetail %}
              <form method="post" target="_blank" action="#">
                <input id="dachboardstatus" type="hidden" name="dachboardstatus" value="3">
                <input id="companyid" type="hidden" name="companyid" value="{{comp.id}}">
                <button class="btn-flat" type="submit" name="action">
                  <i class="small fas fa-chart-line tooltipped" data-position="top" data-tooltip="Auswertung"></i>
                </button>
                {{submitnoncestatus | raw}}
              </form>
              {% endif %}
            </td>
            <td>
                {% if adminmode %}
                <form method="post">
                  <input id="clearcompany" type="hidden" name="clearcompany" value="0">
                  <input id="clearcompanyid" type="hidden" name="clearcompanyid" value="{{comp.id}}">
                  <button class="btn-flat" type="submit" name="action">
                    <i class="small fas fa-trash tooltipped" data-position="top" data-tooltip=""></i>
                  </button>
                  {{submitnoncestatus | raw}}
                </form>
                {% endif %}
            </td>
          </tr>

         