

          <tr>
            <td class="comanylinklist" data-intro="Unternehmensname: kann angeklickt werden um zur Übersicht der abgeschlossenen Nutzer zu kommen" data-position="top">
              <form method="post">
                <input id="dachboardstatus" type="hidden" name="dachboardstatus" value="2">
                <input id="companyid" type="hidden" name="companyid" value="{{comp.id}}">
                <input id="companytocken" type="hidden" name="companytocken" value="{{comp.tocken}}">
                <button class="btn-flat tooltipped" type="submit" name="action" data-position="top" data-tooltip="Linkübersicht">
                  {{comp.name}}
                </button>
                {{submitnoncestatus | raw}}
              </form>

            </td>
            <td class="comanylinklistcopy" data-intro="Link für die Inhaber/in des Unternehmes. Damit sie die Links an ihre MItarbeiter verteilen können" data-position="bottom">
              <i class="small fas fa-copy tooltipped linkcopyicon" data-position="top" data-tooltip="Link kopieren" onclick=""></i>
              <span class="hide">{{comp.url}}</span>
            </td>
            <td class="comanylinklistqr" data-intro="Link für die Inhaber/in des Unternehmes als QR-Code. Damit sie die Links an ihre MItarbeiter verteilen können" data-position="top">
              <i class="small fas fa-qrcode tooltipped qrcodeicon" data-position="top" data-tooltip="QR anzeigen" onclick=""></i>
              <span class="hide">{{comp.url}}</span>
            </td>
            <td class="comanylinklistmail" data-intro="Link für die Inhaber/in des Unternehmes per Mail versenden. Damit sie die Links an ihre MItarbeiter verteilen können" data-position="bottom">
              <a href="mailto:?subject=Link zur Umfrage&body={{mailtext}}  %0D%0A %0D%0A %0D%0A %0D%0A {{comp.url}}"><i class="small fas fa-envelope tooltipped" data-position="top" data-tooltip="Mail versenden"></i></a>
            </td>
            <td class="comanylinklistteams" data-intro="Teamübersicht: neue Seite öffnet sich in der die Teams verwaltet werden können" data-position="top">
              <form method="post">
                <input id="dachboardstatus" type="hidden" name="dachboardstatus" value="1">
                <input id="companyid" type="hidden" name="companyid" value="{{comp.id}}">
                <button class="btn-flat" type="submit" name="action">
                  <i class="small fas fa-users tooltipped" data-position="top" data-tooltip="Teams"></i>
                </button>
                {{submitnoncestatus | raw}}
              </form>
            </td>
            <td class="comanylinklistauswertung" data-intro="Auswertung: neue Seite öffnet sich in der die Auswertung zusehen ist. Wenn kein Icon da ist haben noch zuwenig nutzer die Umfrage abgeschlossen" data-position="bottom">
              <!-- <a href="#!" class="black-text btn-flat">
                <i class="small fas fa-chart-line tooltipped" data-position="top" data-tooltip="Auswertung"></i>
              </a> -->
              <!-- <form method="post" action="{{evaluationurl}}">
                <input type="hidden" value="{{comp.id}}" name="selectcompanyid">
                <button class="btn-flat" type="submit" name="action">
                  <i class="small fas fa-chart-line tooltipped" data-position="top" data-tooltip="Auswertung"></i>
                </button>
              </form> -->
              {% if comp.showdetail %}
              <form method="post" target="_blank" action="#">
                <input id="dachboardstatus" type="hidden" name="dachboardstatus" value="3">
                <input id="companyid" type="hidden" name="companyid" value="{{comp.id}}">
                <button class="btn-flat" type="submit" name="action">
                  <i class="small fas fa-chart-line tooltipped" data-position="top" data-tooltip="Auswertung"></i>
                </button>
                {{submitnoncestatus | raw}}
              </form>
              {% endif %}
            </td>
            <td data-intro="Unternehmen löschen. Wenn kein Icon zusehen ist haben sie nicht die Berechtigung Unternehmen zu löschen." data-position="top">
                {% if adminmode %}
                <form method="post">
                  <input id="clearcompany" type="hidden" name="clearcompany" value="0">
                  <input id="clearcompanyid" type="hidden" name="clearcompanyid" value="{{comp.id}}">
                  <button class="btn-flat" type="submit" name="action">
                    <i class="small fas fa-trash tooltipped" data-position="top" data-tooltip=""></i>
                  </button>
                  {{submitnoncestatus | raw}}
                </form>
                {% endif %}
            </td>
          </tr>

         