<div class="materialize-styles ">

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <form method="post">
    <div class="modal-content">
      <h4>Neuen Betrieb anlegen</h4>
      <div class="row">
        <div class="col s12">
          <input id="companyname" type="text" name="companyname" class="validate">
          <label for="companyname">Betriebsname</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Abbrechen</a>
      <!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat" type="submit">Speichern</a> -->
      <button class="waves-effect waves-green btn-flat enjoyhintcreatecompany" type="submit" name="action">
        Speichern
      </button>
    </div>
    {{submitnoncestatus | raw}}
  </form>
</div>

  <!-- Modal Structure -->
  <div id="modalmultiid" class="modal">
      <form method="post">
      <div class="modal-content">
        <h4>Neuen Betrieb anlegen</h4>
        <div class="row">
          <div class="col s8">
            <input id="companynamemulti" type="text" name="companynamemulti" class="validate">
            <label for="companynamemulti">Betriebsname</label>
          </div>
          <div class="col s4">
            <select name = "companymultiid">
                {% for id in multiids %}
                <option value="{{id[0]}}">{{id[1]}}</option>
                {% endfor %}

            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Abbrechen</a>
        <!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat" type="submit">Speichern</a> -->
        <button class="waves-effect waves-green btn-flat" type="submit" name="action">
          Speichern
        </button>
      </div>
      {{submitnoncestatus | raw}}
    </form>
  </div>

  <!-- Modal Structure -->
  <div id="modalqr" class="modal">
    <div class="modal-content">
      <h4>QR-Code</h4>
      <div class="row">
        <div class="col s12">
          <div id="qrcode"></div>
          <a id="qrcodedownload" download="qrcode.png">
            <button type="button" onClick="">Download QR-Code</button>
          </a>
          <div id="qrcodetext"></div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat qrcodedownloadclose">Schließen</a>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modalhelp" class="modal">
    <div class="modal-content">
      <h4>Hilfe</h4>
      <div class="row">
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
          no sea takimata
          sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
          et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
          diam
          voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
          vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Hilfe Schließen</a>
    </div>
  </div>



  <div id="modalmail" class="modal">
    <div class="modal-content">
      <h4>Link versenden</h4>
      <div class="row">
        <form class="col s12">
          <input placeholder="" id="companyname" type="text" class="validate">
          <label for="companyname">Email-Adresse</label>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Abbrechen</a>
      <a id="mailsubmitdialog" href="#!" class="waves-effect waves-green btn-flat">Senden</a>
    </div>
  </div>


<!--   <i class="fas fa-copy"></i>
<i class="fas fa-qrcode"></i>
<i class="fas fa-users"></i>
<i class="fas fa-tasks"></i>
<i class="far fa-check-square"></i>
<i class="far fa-square"></i>
<i class="far fa-envelope"></i> -->

    <div class="row">
      <div class="col s12">
        <!-- <a href="#!" class="">Firmenliste</a> -->
      </div>
    </div>
    <div class="row">
      <div class="col s8">
        <h3>
          <i class="small fas fa-chevron-circle-left tooltipped hide" data-position="top" data-tooltip="zurück zur vorherigen Ansicht" onclick=""></i>
          <span>Firmenliste</span>
        </h3>
      </div>
      <div class="col s4 right-align">
        <h2>
          <i class="small fas fa-plus-circle tooltipped modal-trigger addcompanyicon" href="#modal1" data-position="top" data-tooltip="Neuen Firma hinzufügen" onclick=""></i>

          {# <i class="small fas fa-plus-circle tooltipped modal-trigger" href="#modalmultiid" data-position="top" data-tooltip="Neuen Firma+Frage hinzufügen" onclick=""></i> #}

          {# <i class="small fas fa-question-circle tooltipped modal-trigger" href="#modalhelp" data-position="top" data-tooltip="Hilfe" onclick=""></i> #}
          <i class="small fas fa-question-circle tooltipped chardinhelp" data-tooltip="Hilfe" onclick=""></i>
          
          
          <i data-target='dropdown1' class="small fas fa-chalkboard-teacher tooltipped dropdown-trigger" data-tooltip="Tutorial" onclick=""></i>
            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
              <li><a href="#!" class ="enjoyhinthelp" onclick="">Schritt 1</a></li>
              <li><a href="#!" class ="enjoyhinthelp2" onclick="">Schritt 2</a></li>
              <li><a href="#!" class ="enjoyhinthelp3" onclick="">Schritt 3</a></li>
              <li><a href="#!" class ="enjoyhinthelp4" onclick="">Schritt 4</a></li>
            </ul>
        </h2>
      </div>
    </div>
    <div class="divider"></div><br>
    <div class="row">

      <table class="striped responsive-table centered" >
        <thead >
          <tr>
            <th>Name</th>
            <th>Link kopieren</th>
            <th>Link als QR-Code</th>
            <th>Versenden</th>
            <th>Team</th>
            <th>Auswertung</th>
            <th>Löschen</th>
          </tr>
        </thead>
        <tbody>

          {% for comp in companys %}
            {% if loop.index == 1 %}
              {% include "companys_item_info.html" with {'comp': comp} %}
            {% else %}
              {% include "companys_item.html" with {'comp': comp} %}
            {% endif %}
          {% endfor %}

        </tbody>
      </table>

      {% if companys|length < 1 %}
    
      <h3 style="background-color: lightgrey;
      padding: 50px; text-align: center;"  class="modal-trigger" href="#modal1" onclick="">keine Firma gefunden<br><br>
       jetzt erste Firma anlegen <br><br> <i class="big fas fa-plus-circle tooltipped modal-trigger" href="#modal1" data-position="top" data-tooltip="Neuen Firma hinzufügen" onclick=""></i>
      </h3>

    {% endif %}
    </div>

</div>
