
<tr>
  <td>{{user.name}}</td>
  <td>{{loop.index}}</td>
  <td class="enjoyhint_linklist_copy_link">
    <i class="small fas fa-copy tooltipped linkcopyicon" data-position="top" data-tooltip="Link kopieren" onclick=""></i>
    <span class="hide">{{limeurl}}{{user.ctocken}}&uid={{user.utocken}}</span>
  </td>
  <td class="enjoyhint_linklist_copy_link_qr">
    <i class="small fas fa-qrcode tooltipped qrcodeicon" data-position="top" data-tooltip="QR anzeigen" onclick=""></i>
    <span class="hide">{{limeurl}}{{user.ctocken}}&uid={{user.utocken}}</span>
  </td>
  <td>{{user.savedate}}</td>
  <!-- <td></td> -->
  <td class="enjoyhint_linklist_mail">
    <a href="mailto:?subject=Link zur Umfrage&body={{mailtext}}  %0D%0A %0D%0A %0D%0A %0D%0A {{limeurl}}{{user.ctocken}}&uid={{user.utocken}}"><i class="small fas fa-envelope tooltipped" data-position="top" data-tooltip="Mail versenden"></i></a></td>

  {% if back %}
    {% if adminmode %}
    <td>
        <form method="post">
            <input id="dachboardstatus" type="hidden" name="dachboardstatus" value="2">
            <input id="companyid" type="hidden" name="companyid" value="{{compid}}">
            <input id="companytocken" type="hidden" name="companytocken" value="{{comptocken}}">
            <input id="clearuser" type="hidden" name="clearuser" value="0">
            <input id="clearuserid" type="hidden" name="clearuserid" value="{{user.userid}}">
            <button class="btn-flat" type="submit" name="action">
              <i class="small fas fa-trash tooltipped" data-position="top" data-tooltip=""></i>
            </button>
            {{submitnoncestatus | raw}}
          </form>
    </td>
    {% endif %}
  {% endif %}
</tr>