<div class="materialize-styles">


  <!-- Modal Structure -->
  <div id="modalqr" class="modal">
    <div class="modal-content">
      <h4>QR-Code</h4>
      <div class="row">
        <div class="col s12">
          <div id="qrcode"></div>
          <a id="qrcodedownload" download="qrcode.png">
            <button type="button" onClick="">Download QR-Code</button>
          </a>
          <div id="qrcodetext"></div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat qrcodedownloadclose">Schließen</a>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col s12">
      <a href="#!" class="">Firmenliste</a>
      <i class="fas fa-angle-right"></i>
      <span class="">KFZ Schulz</span>
      <i class="fas fa-angle-right"></i>
      <span class="">Linkübersicht</span>
    </div>
  </div> -->
  <div class="row">
    <div class="col s8">
      <h3>
        {% if back %}
          <form method="post" style="float:left">
            <input id="dachboardstatus" type="hidden" name="dachboardstatus" value="0">
            <button class="btn-flat linklistbackbutton" type="submit" name="action">
                <i class="small fas fa-chevron-circle-left tooltipped" data-position="top" data-tooltip="zurück zur vorherigen Ansicht"></i>
            </button>
            {{submitnoncestatus | raw}}
          </form>
        {% endif %}
        <span class="">Linkübersicht</span>
      </h3>
    </div>
    <div class="col s4 right-align">
      <h2>
        {# <i class="small fas fa-question-circle tooltipped modal-trigger" href="#modalhelp" data-position="top" data-tooltip="Hilfe"></i> #}
        <i class="small fas fa-chalkboard-teacher tooltipped enjoyhinthelplink" data-tooltip="Tutorial" onclick=""></i>
      </h2>
    </div>
  </div>
  <div class="divider"></div><br>
  <div class="row">

    <table class="striped responsive-table centered">
      <thead>
        <tr>
          <th>Team</th>
          <th>Nutzernummer</th>
          <th>Link</th>
          <th>Link als QR-Code</th>
          <th>Letzte Speicherung</th>
          <!-- <th>Versendet am?</th> -->
          <th>Versenden</th>
          <!--<th>Notizen</th>-->
          {% if back %}
            {% if adminmode %}
              <th>Löschen</th>
            {% endif %}
          {% endif %}
        </tr>
      </thead>
      <tbody>
        <!-- <tr>
          <td>Werkstatt</td>
          <td>1</td>
          <td>
            <i class="small fas fa-copy tooltipped linkcopyicon" data-position="top" data-tooltip="Link kopieren"></i>
            <span class="hide">http://www.google.de</span>
          </td>
          <td>
            <i class="small fas fa-qrcode tooltipped qrcodeicon" data-position="top" data-tooltip="QR anzeigen"></i>
            <span class="hide">http://www.google.de</span>
          </td>
          <td>01.05.2018 10:27</td>
          <td>01.05.2018 10:27</td>
          <td><i class="small fas fa-envelope tooltipped modal-trigger" href="#modalmail" data-position="top" data-tooltip="Mail versenden"></i></td>

        </tr> -->

        {% for user in users %}
          {% if loop.index == 1 %}
            {% include "linklist_item_info.html" with {'user': user} %}
          {% else %}
            {% include "linklist_item.html" with {'user': user} %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
