<div class="materialize-styles">


  <!-- Modal Structure -->
  <div id="modalqr" class="modal">
    <div class="modal-content">
      <h4>QR-Code</h4>
      <div class="row">
        <div class="col s12">
          <div id="qrcode"></div>
          <a id="qrcodedownload" download="qrcode.png">
            <button type="button" onClick="">Download QR-Code</button>
          </a>
          <div id="qrcodetext"></div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Schließen</a>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col s12">
      <a href="#!" class="">Firmenliste</a>
      <i class="fas fa-angle-right"></i>
      <span class="">KFZ Schulz</span>
      <i class="fas fa-angle-right"></i>
      <span class="">Linkübersicht</span>
    </div>
  </div> -->
  <div class="row">
    <div class="col s8">
      <h3>
        {% if back %}
          <form method="post" style="float:left">
            <input id="dachboardstatus" type="hidden" name="dachboardstatus" value="0">
            <button class="btn-flat" type="submit" name="action">
                <i class="small fas fa-chevron-circle-left tooltipped" data-position="top" data-tooltip="zurück zur vorherigen Ansicht"></i>
            </button>
            {{submitnoncestatus | raw}}
          </form>
        {% endif %}
        <span class="">Linkübersicht</span>
      </h3>
    </div>
    <div class="col s4 right-align">
      <h2>
        {# <i class="small fas fa-question-circle tooltipped modal-trigger" href="#modalhelp" data-position="top" data-tooltip="Hilfe"></i> #}
      </h2>
    </div>
  </div>
  <div class="divider"></div><br>
  <div class="row">

    <table class="striped responsive-table centered">
      <thead>
        <tr>
          <th>Team</th>
          <th>Nutzernummer</th>
          <th>Link</th>
          <th>Link als QR-Code</th>
          <th>Letzte Speicherung</th>
          <!-- <th>Versendet am?</th> -->
          <th>Versenden</th>
          <!--<th>Notizen</th>-->
          {% if back %}
            {% if adminmode %}
              <th>Löschen</th>
            {% endif %}
          {% endif %}
        </tr>
      </thead>
      <tbody>
        <!-- <tr>
          <td>Werkstatt</td>
          <td>1</td>
          <td>
            <i class="small fas fa-copy tooltipped linkcopyicon" data-position="top" data-tooltip="Link kopieren"></i>
            <span class="hide">http://www.google.de</span>
          </td>
          <td>
            <i class="small fas fa-qrcode tooltipped qrcodeicon" data-position="top" data-tooltip="QR anzeigen"></i>
            <span class="hide">http://www.google.de</span>
          </td>
          <td>01.05.2018 10:27</td>
          <td>01.05.2018 10:27</td>
          <td><i class="small fas fa-envelope tooltipped modal-trigger" href="#modalmail" data-position="top" data-tooltip="Mail versenden"></i></td>

        </tr> -->

        {% for user in users %}
        <tr>
          <td>{{user.name}}</td>
          <td>{{loop.index}}</td>
          <td>
            <i class="small fas fa-copy tooltipped linkcopyicon" data-position="top" data-tooltip="Link kopieren" onclick=""></i>
            <span class="hide">{{limeurl}}{{user.ctocken}}&uid={{user.utocken}}</span>
          </td>
          <td>
            <i class="small fas fa-qrcode tooltipped qrcodeicon" data-position="top" data-tooltip="QR anzeigen" onclick=""></i>
            <span class="hide">{{limeurl}}{{user.ctocken}}&uid={{user.utocken}}</span>
          </td>
          <td>{{user.savedate}}</td>
          <!-- <td></td> -->
          <td><a href="mailto:?subject=Link zur Umfrage&body={{mailtext}}  %0D%0A %0D%0A %0D%0A %0D%0A {{limeurl}}{{user.ctocken}}&uid={{user.utocken}}"><i class="small fas fa-envelope tooltipped" data-position="top" data-tooltip="Mail versenden"></i></a></td>
        
          {% if back %}
            {% if adminmode %}
            <td>
                <form method="post">
                    <input id="dachboardstatus" type="hidden" name="dachboardstatus" value="2">
                    <input id="companyid" type="hidden" name="companyid" value="{{compid}}">
                    <input id="companytocken" type="hidden" name="companytocken" value="{{comptocken}}">
                    <input id="clearuser" type="hidden" name="clearuser" value="0">
                    <input id="clearuserid" type="hidden" name="clearuserid" value="{{user.userid}}">
                    <button class="btn-flat" type="submit" name="action">
                      <i class="small fas fa-trash tooltipped" data-position="top" data-tooltip=""></i>
                    </button>
                    {{submitnoncestatus | raw}}
                  </form>
            </td>
            {% endif %}
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
