
<tr>
  <td>{{group.name}}</td>
  <td>{{group.usercount}}</td>
  <td>{{group.savecount}}</td>
  <td>
    <form method="post">
        <input id="addteammemberid" type="hidden" name="addteammemberid" value="{{group.id}}">
      <input id="addteammember" type="hidden" name="addteammember" value="0">
      <button class="btn-flat" type="submit" name="action">
        <i class="small fas fa-plus-circle tooltipped enjoyhinthelpteamsaddone" data-position="top" data-tooltip="Ein Teammitglied ergänzen"></i>
      </button>
      {{submitnoncestatus | raw}}
    </form>
  </td>
</tr>