<div class="materialize-styles">

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <form method="post">
    <div class="modal-content">
      <h4>Neues Team anlegen</h4>
      <div class="row">
        <div class="col s8">
          <input id="teamname" type="text" name="teamname">
          <label for="teamname">Teamname</label>
        </div>
        <div class="col s4">
          <input id="teamcount" type="text" name="teamcount">
          <label for="teamcount">Anzahl Teammitglieder</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Abbrechen</a>
      <!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat" type="submit">Speichern</a> -->
      <button class="waves-effect waves-green btn-flat" type="submit" name="action">
        Speichern
      </button>
    </div>
    {{submitnoncestatus | raw}}
  </form>
</div>

  <!-- Modal Structure -->
  <div id="modalhelp" class="modal">
    <div class="modal-content">
      <h4>Hilfe</h4>
      <div class="row">
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
          no sea takimata
          sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
          et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
          diam
          voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
          vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Hilfe Schließen</a>
    </div>
  </div>




  <!-- <div class="row">
    <div class="col s12">
      <a href="#!" class="">Firmenliste</a>
      <i class="fas fa-angle-right"></i>
      <span class="">KFZ Schulz</span>
      <i class="fas fa-angle-right"></i>
      <span class="">Teams</span>
    </div>
  </div> -->
  <div class="row">
    <div class="col s8">
      <h3>
        <form method="post" style="float:left">
          <input id="dachboardstatus" type="hidden" name="dachboardstatus" value="0">
          <button class="btn-flat" type="submit" name="action">
              <i class="small fas fa-chevron-circle-left tooltipped" data-position="top" data-tooltip="zurück zur vorherigen Ansicht"></i>
          </button>
          {{submitnoncestatus | raw}}
        </form>
        <span class="">Teams</span>
      </h3>
    </div>
    <div class="col s4 right-align">
      <h2>
        <i class="small fas fa-plus-circle tooltipped modal-trigger" href="#modal1" data-position="top" data-tooltip="Neuen Title hinzufügen" onclick=""></i>
        <!-- <i class="small fas fa-tasks tooltipped" data-position="top" data-tooltip="Linkübersicht"></i> -->
        {# <i class="small fas fa-question-circle tooltipped modal-trigger" href="#modalhelp" data-position="top" data-tooltip="Hilfe" onclick=""></i> #}
      </h2>
    </div>
  </div>
  <div class="divider"></div><br>
  <div class="row">

    <table class="striped responsive-table centered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Teilnehmer</th>
          <th>haben Umfrage abgeschlossen </th>
          <th>Teilnehmer hinzufügen </th>
        </tr>
      </thead>
      <tbody>
       
        {% for group in groups %}
          <tr>
            <td>{{group.name}}</td>
            <td>{{group.usercount}}</td>
            <td>{{group.savecount}}</td>
            <td>
              <form method="post">
                  <input id="addteammemberid" type="hidden" name="addteammemberid" value="{{group.id}}">
                <input id="addteammember" type="hidden" name="addteammember" value="0">
                <button class="btn-flat" type="submit" name="action">
                  <i class="small fas fa-plus-circle tooltipped" data-position="top" data-tooltip="Auswertung"></i>
                </button>
                {{submitnoncestatus | raw}}
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if groups|length < 1 %}
    
      <h3 style="background-color: lightgrey;
      padding: 50px; text-align: center;"  class="modal-trigger" href="#modal1" onclick="">kein Team gefunden<br><br>
       jetzt erstes Team anlegen <br><br> <i class="big fas fa-plus-circle tooltipped modal-trigger" href="#modal1" data-position="top" data-tooltip="Neuen Title hinzufügen" onclick=""></i>
      </h3>

    {% endif %}
  </div>










</div>
