<h2>{{id}}</h2>
<h2>{{name}}</h2>
<h2>{{first_name}}</h2>
<h2>{{last_name}}</h2>
<h2>{{mail}}</h2>
<h2>{{display_name}}</h2>

<h2>{{title}}</h2>

<form method="post">
<input id="title" type="text" name="title">
<input type="submit" value="Submit">
{{submitnonce | raw}}
</form>

{% if categories|length > 0 %}
  <ul id="navigation">
    {% for category in categories %}
       <li>{{ category }}</li>
    {% else %}
      <li>Keine Daten gefunden</li>
    {% endfor %}
  </ul>
{% else %}
    Keine Daten gefunden
{% endif %}

{% if categories|length > 5 %}
  <ul id="navigation">
    {% for category in categories %}
       <li>{{ category }}</li>
    {% else %}
      <li>Keine Daten gefunden</li>
    {% endfor %}
  </ul>
{% else %}
    Keine Daten gefunden
{% endif %}

<ul id="navigation">
  {% for category in categories2 %}
     <li>{{ category }}</li>
  {% else %}
    <li>Keine Daten gefunden</li>
  {% endfor %}
</ul>




{{ include('notloggedin.html') }}





{% raw %}
<script>
  (function(val) {
    console.log(val);
  })('test');
</script>
{% endraw %}


<br><br>



<canvas id="chartJSContainer" width="600" height="400"></canvas>
{% raw %}
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js">
</script>
<script>
var options = {
  type: 'line',
  data: {
    labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
    datasets: [
	    {
	      label: '# of Votes',
	      data: [12, 19, 3, 5, 2, 3],
      	borderWidth: 1
    	},
			{
				label: '# of Points',
				data: [7, 11, 5, 8, 3, 7],
				borderWidth: 1
			}
		]
  },
  options: {
  	scales: {
    	yAxes: [{
        ticks: {
					reverse: false
        }
      }]
    }
  }
}

var ctx = document.getElementById('chartJSContainer').getContext('2d');
new Chart(ctx, options);
</script>
{% endraw %}

<br><br>

<div id="example-table"></div>
{% raw %}
<!-- <link href="https://unpkg.com/tabulator-tables@4.0.4/dist/css/tabulator.min.css" rel="stylesheet"> -->
<link href="https://unpkg.com/tabulator-tables@4.0.4/dist/css/tabulator_simple.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.0.4/dist/js/tabulator.min.js"></script>
<script>
//Build Tabulator
var table = new Tabulator("#example-table", {
    height:"292px",
    layout:"fitColumns",
    pagination:"local",
    paginationSize:6,
    movableColumns:true,
    columns:[
        {title:"Name", field:"name", width:200},
        {title:"Progress", field:"progress", formatter:"progress", sorter:"number"},
        {title:"Gender", field:"gender"},
        {title:"Rating", field:"rating", formatter:"star", align:"center", width:100},
        {title:"Favourite Color", field:"col"},
        {title:"Date Of Birth", field:"dob", align:"center", sorter:"date"},
        {title:"Driver", field:"car", align:"center", formatter:"tickCross"},
    ],
});
//define some sample data
var tabledata = [
	{name:"Oli Bob", age:"12", col:"red", dob:""},
	{name:"Mary May", age:"1", col:"blue", dob:"14/05/1982"},
	{name:"Christine Lobowski", age:"42", col:"green", dob:"22/05/1982"},
	{name:"Brendon Philips", age:"125", col:"orange", dob:"01/08/1980"},
	{name:"Margret Marmajuke", age:"16", col:"yellow", dob:"31/01/1999"},
  {name:"Oli Bob", age:"12", col:"red", dob:""},
	{name:"Mary May", age:"1", col:"blue", dob:"14/05/1982"},
	{name:"Christine Lobowski", age:"42", col:"green", dob:"22/05/1982"},
	{name:"Brendon Philips", age:"125", col:"orange", dob:"01/08/1980"},
	{name:"Margret Marmajuke", age:"16", col:"yellow", dob:"31/01/1999"},
  {name:"Oli Bob", age:"12", col:"red", dob:""},
	{name:"Mary May", age:"1", col:"blue", dob:"14/05/1982"},
	{name:"Christine Lobowski", age:"42", col:"green", dob:"22/05/1982"},
	{name:"Brendon Philips", age:"125", col:"orange", dob:"01/08/1980"},
	{name:"Margret Marmajuke", age:"16", col:"yellow", dob:"31/01/1999"},
  {name:"Oli Bob", age:"12", col:"red", dob:""},
	{name:"Mary May", age:"1", col:"blue", dob:"14/05/1982"},
	{name:"Christine Lobowski", age:"42", col:"green", dob:"22/05/1982"},
	{name:"Brendon Philips", age:"125", col:"orange", dob:"01/08/1980"},
	{name:"Margret Marmajuke", age:"16", col:"yellow", dob:"31/01/1999"},
];

//load sample data into the table
table.setData(tabledata);
</script>
{% endraw %}
