.materialize-styles {
  @import (less) url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css");
}

.black-text li a{
  color: black;
 }

 .responsive-table th {
  width: 30vw;
}