.materialize-styles {
  @import (less) url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css");
}

// html{
//   @import (less) url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css");
// }

.responsive-table th {
  width: 30vw;
}

.material-tooltip{
  position: absolute;
  background-color: lightgray;
  padding: 10px;
}